/* @import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap"); */

:root {
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkDesaturatedCyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --darkModerateCyan: hsl(168, 40%, 52%);
  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --lightBlue: #6bceff;
  --cyan: #62d1bb;
  --darkCyan: #48a18f;
  --white: hsl(0, 0%, 100%);
  --fontFamilyBarlow: "Barlow", sans-serif;
  --fontFamilyFraunces: "Fraunces", serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

/* main container */
.container {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  /* border: 2px solid magenta; */
}

/* header */

header {
  background-image: url(/images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 700px;
  padding: 40px 30px 0 30px;
}

/* nav bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  font-family: var(--fontFamilyBarlow);
  color: var(--white);
}

a {
  text-decoration: none;
}

.nav__ul li a {
  margin: 0 0 0 20px;
  color: var(--white);
}

.nav__ul li > .active__link {
  color: var(--veryDarkDesaturatedBlue);
  background-color: var(--white);
  padding: 10px;
  border-radius: 5px;
}

.nav__ul li > .active__link:hover {
  background-color: var(--lightBlue);
  color: var(--white);
  font-family: var(--fontFamilyFraunces);
  text-transform: uppercase;
  font-size: 1rem;
}

.header__heading {
  text-align: center;
}

.hamburger {
  display: none;
}

.close__icon {
  display: none;
}

.header__mobile__menu {
  display: none;
}

/* header main */

.header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fontFamilyFraunces);
  font-size: 1.5rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 100px;
  color: var(--white);
}

.arrow__img {
  margin-top: 50px;
}

/* main */

/* section-1 */
main {
  width: 100%;
}
section {
  display: flex;
}

.section__info {
  padding: 150px;
  width: 50%;
  text-align: center;
}

.section__imgs {
  width: 50%;
}

.section__heading {
  font-family: var(--fontFamilyFraunces);
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--veryDarkDesaturatedBlue);
}

.section__para {
  margin: 30px 0 30px 0;
  font-family: var(--fontFamilyBarlow);
  font-size: 1rem;
  line-height: 2;
  color: var(--darkGrayishBlue);
}

.section__link {
  font-family: var(--fontFamilyFraunces);
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--veryDarkDesaturatedBlue);
  cursor: pointer;
  border-bottom: 10px solid rgb(251, 212, 0, 0.4);
  display: inline-block;
}

.section__link:hover {
  border-bottom: 10px solid rgb(251, 212, 0);
}

.section__link__pink {
  font-family: var(--fontFamilyFraunces);
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--veryDarkDesaturatedBlue);
  cursor: pointer;
  border-bottom: 10px solid rgb(254, 112, 97, 0.4);
  display: inline-block;
}

.section__link__pink:hover {
  border-bottom: 10px solid rgb(254, 112, 97);
}

.section__img {
  display: block;
  width: 100%;
}

.section__graphicDesign {
  background-image: url(/images/desktop/image-graphic-design.jpg);
  background-size: cover;
  background-position: left bottom;
  height: 600px;
  position: relative;
  width: 50%;
}

.section__graphicDesign__info {
  position: absolute;
  bottom: 50px;
  margin: 0 50px 50px 50px;
  text-align: center;
}

.section__graphicDesign__heading {
  font-family: var(--fontFamilyFraunces);
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--darkDesaturatedCyan);
}

.section__graphicDesign__para {
  /* margin: 30px 0 30px 0; */
  font-family: var(--fontFamilyBarlow);
  font-size: 1rem;
  line-height: 2;
  color: var(--darkDesaturatedCyan);
}

.section__photography {
  background-image: url(/images/desktop/image-photography.jpg);
  width: 50%;
  background-size: cover;
  background-position: left bottom;
  height: 600px;
  position: relative;
}

.section__photography__info {
  position: absolute;
  bottom: 60px;
  text-align: center;
  margin: 0 50px 50px 50px;
}

.section__photography__heading {
  font-family: var(--fontFamilyFraunces);
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--darkBlue);
}

.section__photography__para {
  /* margin: 30px 0 30px 0; */
  font-family: var(--fontFamilyBarlow);
  font-size: 1rem;
  line-height: 2;
  color: var(--darkBlue);
}

/* article : testimonials */

article {
  width: 100%;
}

.article__heading {
  text-align: center;
  font-family: var(--fontFamilyFraunces);
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: var(--grayishBlue);
  margin: 150px 50px 50px 50px;
}

.article__testimonials {
  margin: 80px 0 100px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.article__testimonial {
  width: 25%;
}

.article__testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.article__testimonial__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.article__testimonial__comment {
  font-size: 1rem;
  font-family: var(--fontFamilyBarlow);
  color: var(--darkGrayishBlue);
  line-height: 2;
}

.article_article__testimonial__name {
  font-size: 1.25rem;
  font-weight: 900;
  font-family: var(--fontFamilyFraunces);
  color: var(--veryDarkDesaturatedBlue);
  margin: 50px 0 10px 0;
}

.article_article__testimonial__role {
  font-size: 0.8rem;
  font-family: var(--fontFamilyBarlow);
  color: var(--grayishBlue);
}

/* article : images */

.article__images {
  display: flex;
  width: 100%;
}

.article__images_25 {
  width: 25%;
}

/* footer */

footer {
  width: 100%;
  background-color: var(--cyan);
}

.footer__div {
  padding: 80px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.footer__div__logo {
  filter: invert(41%) sepia(22%) saturate(870%) hue-rotate(118deg)
    brightness(85%) contrast(87%);
}

.footer__div__ul {
  display: flex;
  justify-content: center;
  margin: 50px;
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.footer__div__ul > li {
  margin: 0 30px 0 30px;
}

.footer__div__ul > li > a {
  font-family: var(--fontFamilyBarlow);
  font-size: 1rem;
  color: var(--darkCyan);
}

.facebook,
.instagram,
.twitter,
.pinterest {
  background-color: transparent;
  color: var(--darkCyan);
  border: 0;
  font-size: 2rem;
}

.creator {
  margin: 30px 0 10px 0;
  font-family: var(--fontFamilyBarlow);
  font-size: 1rem;
  color: var(--darkCyan);
}

.creator__span {
  font-size: 0.8rem;
}

/* Mobile design */

@media (max-width: 600px) {
  /* header */
  header {
    background-image: url(/images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 700px;
    /* padding: 40px 30px 0 30px; */
  }

  .nav__ul {
    display: none;
  }

  .hamburger {
    display: block;
    background-color: transparent;
    border: none;
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
  }

  .close__icon {
    background-color: transparent;
    border: none;
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
  }

  .header__mobile__menu {
    display: none;
    position: relative;
  }

  .header__mobile__ul {
    width: 90%;
    list-style-type: none;
    padding: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 20px auto;
    text-align: center;
    background-color: var(--white);
  }

  .header__mobile__ul > li {
    margin: 40px 0 40px 0;
    font-family: var(--fontFamilyBarlow);
    font-size: 1.25rem;
  }

  .header__mobile__ul > li > a {
    color: var(--grayishBlue);
    text-decoration: none;
  }

  .header__mobile__ul li > .active__link {
    color: var(--veryDarkDesaturatedBlue);
    background-color: var(--yellow);
    padding: 10px;
    border-radius: 5px;
  }

  .header__mobile__ul li > .active__link:hover {
    background-color: var(--lightBlue);
    color: var(--white);
    font-family: var(--fontFamilyFraunces);
    text-transform: uppercase;
    font-size: 1rem;
  }

  /* section */
  section {
    flex-direction: column;
  }
  .section__info {
    order: 2;
    width: 100%;
    padding: 100px;
  }

  .section__imgs {
    order: 1;
    width: 100%;
  }

  .section__graphicDesign {
    width: 100%;
  }

  .section__photography {
    width: 100%;
  }

  /* article :: testimonial */

  .article__testimonials {
    flex-direction: column;
    align-items: center;
  }

  .article__testimonial {
    width: 60%;
    text-align: center;
    margin-bottom: 70px;
  }

  /* article :: images */

  .article__images {
    display: flex;
    flex-wrap: wrap;
  }

  .article__images_25 {
    width: 50%;
  }
}
